.bottom_logo img{width: 40%;}
.botom_title span{margin-left: 4px;}
.botom_title{margin-top: -10px;}
.bottom_logo{margin-top: 1px;text-align: center;}
.footer_logo{margin-top: -2px;}
.carry-prize p{margin-bottom: 0;color: #4d4d4d;font-size: 12px;}
.carry_div{position: relative;border: 1px solid #f0eff4;}
.carry-prize{position: absolute;top: 3px;left: 9em;}
.yard{color: #ff6600;}
.time-limit{position: relative;}
.line{width: 100%;height: 1px;background: #f0eff4;margin-top: 2em;}
/**discover.html***************************************************************/
.mui-bar{background: #ff6600;}.mui-title{color: #FFFFFF;}.mui-table-view-cell:after{left: 0;}/*.mui-content{margin-top: 13px;}*/
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{color: #4D4D4D;}
/**index.buyrecords.html***********************************************************/
.left-img {width: 50%;margin-top: 7px;}
/*red-packet.html********************************************************************/
.red-packet .hongb-img{width: 90%;text-align: center;margin: 1.5em auto;}
.red-packet .hongb-img img{width: 50%;}
.red-packet .price{text-align: center;line-height: 2.3em;}
.red-packet .price p{color: #575757;}
.red-packet input[type="text"] {padding: 0;height: 25px;}
.red-packet .mui-input-group{background: none;width: 95%;margin: auto;}
.red-packet .mui-input-row{height: 40px;margin: 1em auto;border: 1px solid #D63049;border-radius: 5px;background: none;}

.red-packet .tel{margin-left: 1em;}
.red-packet .btn{margin: 1em auto;width: 90%;}
.red-packet .mui-btn{width: 100%;height: 3em;margin: 0 auto;background: #D63049;border: 1px solid #D63049;color: #FFFFFF;border-radius: 5px;}
/**my-packet.html**********************************************************/
.my-packet{margin-top: 5em;}
.my-packet .mui-media-body{margin-top: 0;}
.my-packet .user-hb{margin-top: 18px;font-size: 1.2em;}
.my-packet .mui-table-view{margin-top: 8px;}
.my-packet .mui-table-view-cell {padding: 7px 15px;}
.my-packet .mui-table-view .mui-media-object {margin-top: 8px;}
.my-packet .time-div{font-size: 0.9em;float: right; color: #646464;}
/**************************************************************/
.discuss-name{color: #000000;}
.time-discuss{color: #646464;}
.cSingleR.m-round{border: 2px solid #ebebeb;border-radius: 10px;}
.left-sanjiao{position: absolute;left: 3em;top:8.3em}
.left-sanjiao img{width: 15%;height: 10px;}
.icon-zan img{width: 30%;}
/****************************************************/
.all-duobao{color: #575757;}
.xiny{font-size: 0.9em;}
.tiaoma{font-size: 0.9em;position: relative;}
.shxian{position: absolute;width: 1px;height: 2em;background: #CCCCCC;}
.snde{font-size: 12px;color: #575757;}
.num-p1{font-size: 1.5em;color: #ff6600;}
.num-p2{color: #575757;}
.num-p3{color: #5bbfff;}
.fuwu{font-size: 1em;padding-top: 1em;}
/***************************************/
.cSingleR{position: relative;}
.sanjiao{box-shadow: 1px -2px -1px #e7e7e7;position: absolute;left: -6px;top:13px; width:0;
    height:0;
    border-width:8px 8px 8px 0;
    border-style:solid;
    border-color:transparent #FFFFFF transparent transparent;/*透明 灰 透明 透明 */
    margin:0px auto;}
/**index.lottery.html************************************************/
.revealed{margin-top: -3px;}
.revealed-ul{margin-top: 1em;background: #FFFFFF;}
/**index.payment.html*****************************************************/
section.clearfix.g-pay-lst {margin-top: 3.5em;}
.g-pay-ment{position: relative;}
.deduction1{float: left;}
.deduction2{float: left;margin-left: 30%;}
.deduction3{float: left;right: -29px;position: absolute;top:3px}
.deduction3 img{width: 30%;}
/**user.index.html**************************************************************/
ul.clearfix.u-mbr-info {margin-top: -10px;}
/**user.orderlist.html********************************************************************/
ul.BuyRecordList {background-color: #fff;margin-top: 10px;}
/*****************************************************************/
.zanwu{text-align: center;}
.zanwu-div{text-align: center;}
.xiaofeiprice{color: #646464;}
.chozhi{color: #000000;margin-top: 4px;}
/**recharge.html***********************************************************/
.right-header{color: #FFFFFF;font-size: 1.2em;line-height: 2.3em;}
.rechange{margin-top: 4.5em;}
.rechange .deduction1r3{font-size: 1.1em;}
.mui-input-group .mui-input-row:after {left: 0;}
.rechange .mui-btn-block{width: 95%;margin: 0 auto;height: 40px;line-height: 0.6em;color: #FFFFFF;background: #D63049;border: 1px solid #D63049;}
.rechange .btn{margin-top: 1em;margin-bottom: 1em;}
.rechange .mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    color: #4D4D4D;
    font-size: 17px;
}
/***************************************************************/
.gdju .mui-table-view .mui-media-object {line-height: 92px;max-width: 92px;height: 92px;}
.mui-media-body{margin-top: 1.5em;}
.libia{margin-top: 5px;}
/******************************************************************/
.cart{position: absolute;right: -50px;top: 2em;}
.cart img{width: 35%;}
.liebiao{position: relative;margin-top: 1em;background: #FFFFFF;}
.shuxian {position: absolute;right: 5em;width: 1px;height: 80%;background-color: #e6e6e6;top: 10%;}
ul.Pro-bar-li.lise {margin-top: -10px;}
.h2-div{color: #000000;}
.num-em1{font-size: 1.5em;margin-right: 5px;}
.last-num{color: #76c6fe;}
.xianm{margin-left: -6px;}
/**add-address.html**********************************************************************/
.add-address{margin-top: 4em;}
.add-address .mui-btn-block{width: 95%;margin: 1em auto;height: 40px;line-height: 0.6em;background: #D63049;border: 1px solid #D63049;color: #FFFFFF;}
.add-address input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{padding: 10px 9px;font-size: 1.2em;}
.add-address .mui-input-group{font-size: 15px;}
.add-address .select-city{padding-left: 10px;line-height: 3.5em;font-size: 1.1em;}
/**set.html*****************************************************************/
.set{margin-top: 4em;}
.set .mui-btn-block{background: #D63049;width: 95%;height: 40px;line-height: 0.6em;border: 1px solid #D63049;color: #FFFFFF;margin: 1em auto;}
.set .mui-input-group:first-child{margin-top: 55px;}
.set .mui-input-group{margin-top: 8px;}
.set .touxi img{width: 25%;}
.set .mui-input-group .mui-input-row {height: 46px;}
.set .mui-pull-left.touxi {margin-left: 32px;margin-top: 12px;}
.set .mui-pull-left.sdef{margin-left: -4.8em;margin-top: 4px;}
/**change-possword.html**********************************************************************/
.change-possword{margin-top: 4em;}
.change-possword .mui-btn-block{background: #D63049;width: 95%;height: 40px;line-height: 0.6em;border: 1px solid #D63049;color: #FFFFFF;margin: 1em auto;}
.change-possword input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{font-size: 1.2em;}
.change-possword .mui-input-group:first-child{margin-top: 55px;}
.change-possword .mui-input-group{margin-top: 5px;}
.change-possword .mui-input-group .mui-input-row {height: 50px;}
.change-possword .mui-pull-left.yaosi {margin-top: 15px;margin-left: 2em;}
.change-possword .mui-pull-left.shuru{margin-left: -3.5em;margin-top: 5px;}
/**control-address.html********************************************************************/
.control-address{margin-top: 4em;}
.control-address .mui-btn{background: #D63049;color: #FFFFFF;border: 1px solid #D63049;float: right;height: 30px;margin-top: 3px;margin-right: 5px;}
.address-li{float: left;line-height: 3em;padding-left: 10px;font-size: 13px;}
.control-address .li-div{margin-top: 4m;}
.serr{width: 100%;height: 3.3em;}
.control-address .mui-table-view:first-child{margin: 0;}
.control-address .mui-table-view{margin-top: 5px;}
.control-address .nichname{font-size: 13px;}
/*个人中心**********************/
.p.u-name.sdings {margin-top: -10px;}
/******************************************************/
.jsff{color: #FFFFFF;line-height: 2.5em;font-size: 1.2em;}
/**gold-detail.html****************************************************/
.gold-detail{margin-top: 4em;}
.gold-detail .mui-btn{background: #D63049;border: 1px solid #D63049;color: #FFFFFF;margin-top: -2px;}
.gold-detail .mui-table-view{margin-top: 5px;}
.gold-detail .mui-table-view:after{height: 0;}
.gold-detail .mui-table-view:before{height: 0;}
.gold-detail .time {float: left;width: 40%;text-align: center;border-right: 1px solid #F4F4F4;height: 3.5em;line-height: 3.5em;}
.gold-detail .trench{float: left;width: 30%;text-align: center;border-right: 1px solid #F4F4F4;height: 3.5em;line-height: 3.5em;}
.gold-detail .detail{float: left;width: 30%;text-align: center;height: 3.5em;line-height: 3.5em;}
.gold-detail .li-lieb .mui-table-view-cell {padding: 0}
.detail-span1{color: #ff5e97;}
.detail-span2{color: #77d89d;}

.haveNot{padding-top: 30px;}
body{background: #f4f4f4;}

.mui-table-view::after{
	background: none;
}
.mui-content{background: none;}