<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>万众夺宝</title>
  <link href="../css/mui.min.css" rel="stylesheet"/>
  <link href="../css/iconfont.css" rel="stylesheet"/>
  <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>
  <div id="divRefreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
      <!-- 数据列表 -->
      <div class="mui-table-view mui-table-view-chevron">
				<!-- 轮播图　 开始 -->
				<div class="mui-slider" id="slider">
					<!-- 轮播图具体内容。见tpl-slider -->
				</div>
				<!-- 轮播图　结束 -->
				
				<!-- 最新揭晓 　开始 -->
				<div id="lastest" class="lastest">
					<p>最新揭晓<i class="icon iconfont icon-right"></i></p>
					<div class="box mui-row">
						<!-- 最新揭晓的具体内容。见tpl-lastest -->
					</div>
				</div>
				<!-- 最新揭晓　 结束-->
				
				<!-- 热门推荐 　开始 -->
				<div id="hot" class="hot">
					<p>热门推荐<i class="icon iconfont icon-right"></i></p>
					<div class="box mui-row">
						<!-- 热门推荐的具体内容。见tpl-hot -->
					</div>
				</div>
				<!-- 热门推荐　 结束-->
      </div>
    </div>
  </div>
	<!--图片轮播-->
	<script type="text/template" id="tpl-slider">
		<div class="mui-slider-group mui-slider-loop">
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a><img src="{{listItems[listItems.length - 1].src}}" /></a>
			</div>
			{{each listItems as slide index}}
			<div class="mui-slider-item" data-id="{{slide.id}}">
				<a><img src="{{slide.src}}" /></a>
			</div>
			{{/each}}
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a>
					<img src="{{listItems[0].src}}">
				</a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			{{each listItems as it i}}
			<div class="mui-indicator {{if i==0}}mui-active{{/if}}"></div>
			{{/each}}
		</div>
	</script>
	<!--最新揭晓-->
	<script type="text/template" id="tpl-lastest">
		{{if data.length > 1}}
		<div class="no-data">
			<p>抱歉,暂无最新揭晓商品记录！</p>
		</div>
		{{else}} {{each data as vlaue index}} {{if index < 4}}
		<div class="publish1" id="{{vlaue.id}} " sid="{{vlaue.sid}} " data-qishu="{{vlaue.qishu}}" seconds="{{vlaue.seconds}}">
			<div class="publish1_img">
				<img src="{{vlaue.thumb}}" />
			</div>
			<div class="publish1_body">
				<span class="body_span">{{vlaue.title}}</span>
				<span class="time" id="lotter-time-{{vlaue.id}}">
					<span name="timerItem" seconds="5" id="{{vlaue.id}}">
						<em>00</em>:<em>00</em>:<em>00</em><s class="z-aw-tblr"></s>
					</span>
				</span>
			</div>
			<span class="vertick"></span>
		</div>
		{{/if}} {{/each}} {{/if}}
	</script>
	<!--热门推荐-->
	<script type="text/template" id="tpl-hot">
		<div class="mui-row hot-data">
		{{each data as item index}}
		<div class="hot-item mui-col-xs-6" data-id="{{item['id']}}">
			<div class="thumb">
				<img src="{{item['thumb']}}">
			</div>
			<div class="title">{{item['title']}}</div>
			<div class="mui-row">
				<div class="mui-col-xs-8">
					<div class="progress">
						<div class="progress-bar" style="width: {{(item['canyurenshu']/item['zongrenshu']*100)+'%'}};"></div>
					</div>
					<div class="count">
						<span class="now">{{item['canyurenshu']}}</span>
						<span class="rest">{{item['zongrenshu']-item['canyurenshu']}}</span>
					</div>
					<div class="hint">
						<span class="now">已参与</span>
						<span class="rest">剩余</span>
					</div>
				</div>
				<div class="mui-col-xs-4">
					<a class="add-cart"><img src="../image/icon-add-cart.png" class=""/> </a>
				</div>
			</div>
		</div>
		{{/each}}
		</div>
	</script>
	
  <script src="../js/mui.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/app.js"></script>
  <script src="home.js"></script>
</body>
</html>