<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>结算支付 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
		<link href="../../css/app/comm.css" rel="stylesheet" type="text/css" />
		<link href="../../css/app/cartList.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="PlayBox">
			<input name="hidShopMoney" type="hidden" id="hidShopMoney" />
			<input name="hidBalance" type="hidden" id="hidBalance" />
			<input name="hidPoints" type="hidden" id="hidPoints" />
			<input name="shopnum" type="hidden" id="shopnum" />
			<input name="pointsbl" type="hidden" id="pointsbl" />
			<section class="clearfix g-pay-lst" id="shopBody">
				<!--商品信息-->
			</section>
			<!--红包选择-->
			<div id="redEnveBox"></div>
			<section class="clearfix g-Cart" id="userBox">
			</section>
		</div>

		<script type="text/template" id="shopInfo">
			<ul>
				{{each shoppingList as value i}}
				<li>
					<a addreass="#" class="gray6">(第{{value.qishu}}期){{value.title}}</a>
					<span><em class="orange arial">{{Price(value.id)}}</em>元</span>
				</li>
				{{/each}}
			</ul>
			<p class="g-pay-Total gray9">合计：<span class="orange" id="mengy">{{total()}}</span> 元</p>
		</script>
		<script type="text/template" id="redEnvelope">
			<section class="clearfix g-Cart">
				<article class="clearfix m-round g-pay-ment">
					{{if hongbao.length > 0 }}
					<ul>
						<li class="select-packet" id="Choice"><span>红包选择</span><strong></strong><s class="z-arrow"></s></li>
					</ul>
					{{else}}
					<div class="NoRed">您没有红包</div>
					{{/if}}
				</article>
			</section>
			{{if hongbao.length > 0 }}
			<section class="clearfix g-Cart">
				<article class="clearfix m-round g-pay-ment lis">
					<ul id="redList" style="display: none;">
						{{each hongbao as value i}}
						<li class="price-three" money="{{value.money}}" id="{{value.id}}" limit="{{value.limitmoney}}">
							{{value.money}}元
						</li>
						{{/each}}
						<li class="price-three" money=0 limit=10 value="0">不使用红包</li>
					</ul>
				</article>
			</section>
			{{/if}}

		</script>
		<script type="text/template" id="userInfo">
			<article class="clearfix m-round g-pay-ment">
				<ul id="ulPayway">
					{{if userxinxi.money != 0}}
					<li class="gray6 z-pay-ff z-pay-grayC"><i sel="0" class="z-pay-mentDis" id="spPoints"></i><span>账户余额：{{userxinxi.money}}元</span></li>
					{{else}}
					<li class="gray6 z-pay-ye">
						<a class="rechange">去充值</a>
						<span>您的余额不足（账户余额：0.00元）</span>
					</li>
					{{/if}}
				</ul>
			</article>
			<article id="bankList" class="clearfix mt10 m-round g-pay-ment g-bank-ct">
				<ul id="playMode">
					<li class="gray6">
						<!--<s class="z-arrow"></s>-->选择<strong id="playname">在线支付</strong>支付<span id="playMeny">{{zongjia()}}</span></li>
					<li class="gray9" umb='CMBCHINA' name="在线支付"><i class="z-bank-Roundsel"><s></s></i>在线支付</li>
					<!--<li class="gray9" umb='ICBC' name="银联"><i class="z-bank-Round"><s></s></i>银联支付</li>-->
				</ul>
			</article>
			<div class="g-Total-bt">
				<a id="btnPay" class="orgBtn">确认支付</a>
			</div>
		</script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<script type="text/javascript" src="../../js/template.js"></script>
		<script type="text/javascript" src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/global.js"></script>
		<script type="text/javascript" src="../../js/ipaynow.js"></script>
		<script type="text/javascript" src="../../js/app/pageDialog.js"></script>
		<script type="text/javascript" src="../../js/app/PaymentFun.js"></script>
	</body>

</html>